<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL_DEV</key>
	<string>https://kidk.kro.kr/api/v1</string>
	<key>API_BASE_URL_PROD</key>
	<string>https://kidk.kro.kr/api/v1</string>
	<key>SWAGGER_URL_DEV</key>
	<string>https://kidk.kro.kr/swagger-ui/index.html</string>
</dict>
</plist>
